.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  .box {
    padding: 15px;
    border: 1px solid #000;
    min-height: 100px;
    color: #fff;
    // bg
    // background: url('../bg.jpg') no-repeat center;
    // background-size: cover;
    // box-shadow: 5px 5px 15px gray;
    // border-radius: 15px;
  }
  .box-1 {
    @extend .box;
    @include bgImage($radius: 15px);
  }
  .box-2 {
    @extend .box;
    @include bgImage('../bg.webp', 5px);
  }
  .box-3 {
    @extend .box;
    @include bgImage('../640.jpg', 50px);
  }
}
