.btn {
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 16px;
  padding: 0.5em 2em;
  color: white;
  transition: all 0.3s;
}

.btn-main {
  // itraukti visas btn klases taisykles
  @extend .btn;
  background-color: $main-color;
  border-color: $main-color;
  // & reikskia klases pavadinima kurioje esam. siuo atveju - '.btn-main'
  &:hover {
    background-color: #333;
    border-color: #333;
  }
}

.btn-arrow {
  @extend .btn-main;
  border-radius: 5px;
  padding: 0.4em 0.3em;
  width: 50px;
}

.rounded-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rounded-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// .btn-main:hover {}
